<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Payment</key>
	<dict>
		<key>production</key>
		<string>Af2J90x3H1F7WOrGvAm8PK56T4G1ZHi5juCIyY9JGuood1s7fjoAfLRj4Xp_yqwocPg6hS6wQmPNF4ep</string>
		<key>sandbox</key>
		<string></string>
	</dict>
	<key>PubNub</key>
	<dict>
		<key>publishKey</key>
		<string>pub-c-49583613-8bb5-4e1c-b99f-dfbdc4702c38</string>
		<key>subscribeKey</key>
		<string>sub-c-c8df9398-fc92-11e5-ba5f-0619f8945a4f</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>consumerKey</key>
		<string>fDdettV7XgfPA8YkDFEMoUiII</string>
		<key>consumerSecret</key>
		<string>8SsQnVuBOE5FLVRendRgYfw2VdGoC57GDejoagAXFeBw6kuo74</string>
		<key>tweetURL</key>
		<string>http://lyvvision.com</string>
	</dict>
	<key>Amazon</key>
	<dict>
		<key>accessKeyId</key>
		<string>AKIAJFMZO2S3GYKERHAQ</string>
		<key>secretAccessKey</key>
		<string>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</string>
		<key>region</key>
		<string>us-east-1</string>
		<key>imagesBucket</key>
		<string>gillens-imgs</string>
		<key>streamBucket</key>
		<string>gillens-streams</string>
	</dict>
	<key>Wowza</key>
	<dict>
		<key>host</key>
		<string>lyvvision.com</string>
		<key>port</key>
		<string>1935</string>
		<key>application</key>
		<string>live</string>
		<key>username</key>
		<string>test</string>
		<key>password</key>
		<string>test</string>
	</dict>
	<key>Feedback</key>
	<dict>
		<key>email</key>
		<string>christiangillens@gmail.com</string>
	</dict>
	<key>Legal</key>
	<dict>
		<key>termsOfService</key>
		<string>http://lyvvision.com/terms</string>
		<key>privacyPolicy</key>
		<string>http://lyvvision.com/privacy</string>
	</dict>
	<key>API</key>
	<dict>
		<key>site</key>
		<string>http://lyvvision.com</string>
		<key>host</key>
		<string>http://lyvvision.com/api</string>
	</dict>
</dict>
</plist>
